CodeChallenge-master/CodeChallenge/Service References/ServiceReference1/ServiceRegions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfServiceCC.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfServiceCC.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRegionModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RegionModel" nillable="true" type="tns:RegionModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRegionModel" nillable="true" type="tns:ArrayOfRegionModel" />
  <xs:complexType name="RegionModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zip" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Zipcodes" nillable="true" type="tns:ArrayOfZipCodeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RegionModel" nillable="true" type="tns:RegionModel" />
  <xs:complexType name="ArrayOfZipCodeModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZipCodeModel" nillable="true" type="tns:ZipCodeModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZipCodeModel" nillable="true" type="tns:ArrayOfZipCodeModel" />
  <xs:complexType name="ZipCodeModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="End" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Start" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZipCodeModel" nillable="true" type="tns:ZipCodeModel" />
  <xs:complexType name="ArrayOfZipModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ZipModel" nillable="true" type="tns:ZipModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfZipModel" nillable="true" type="tns:ArrayOfZipModel" />
  <xs:complexType name="ZipModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ZipModel" nillable="true" type="tns:ZipModel" />
</xs:schema>